{% extends 'base.html' %}
{% block title %}{{user.username}}'s Profile{% endblock title %}


{% block content %}
    <div class="container">
        <div class="row">
            {% if user %}
           
           <div class="card" style="background-color: rgba(225, 225, 225, 0.5);">
                <p><h3>Username: {{user.username}}</h3></p>
                <p><h3>First Name: {{user.first_name}}</h3></p>
                <p><h3>Last Name: {{user.last_name}}</h3></p>
                <p><h3>Email: {{user.email}}</h3></p>

            </div>
           {% endif %}
        </div>
    </div>
{% endblock content %}
