{% extends 'base.html' %}
{% load static %}
{% block title %}Consultation Details{% endblock title %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="card" style="background-color: rgba(225, 225, 225, 0.5); padding: 10px;">
      <h5>Complaint</h5>
      <h6>
        {{ consultation.date }}
      </h6>
      <hr>
      <h6>
        {{ consultation.complaint }}
      </h6>
    </div>
    {% if user.id == doctor.user.id or user.is_superuser %}
      <div lass="card mt-3" style="background-color: rgba(225, 225, 225, 0.5); padding: 10px;">
        <small>Click the button to show notes for this patient</small>
        <button type="submit" id="notes"  class="btn btn-primary btn-sm">Show Notes</button>

      </div>
    <div class="card mt-3" style="background-color: rgba(225, 225, 225, 0.5); padding: 10px; display: none;" id="doctor-notes">
      <h6>Consultation Notes:</h6>
      <a href="{% url 'add_notes' pk=consultation.id %}" class="btn btn-sm btn-danger">Add a doctor's note</a>
      <hr>
      {% if notes %}

      <ul>
        {% for note in notes reversed %}
        <p>
          <li>{{ note.doctor }} - on
          {{ note.date_added }} <br>
        
        
          <em>{{ note.notes }}</em>
        </li>
      </p>
        {% endfor %}
      </ul>
    </div>
    {% endif %}
    {% endif %}

<div class="commentform" style="background-color: rgba(225, 225, 225, 0.5); padding: 10px; margin: 10px 0 0 0;">
    <h6 class=" text-danger fw-bold">Add a comment:</h6>
    <form action="" method="POST" id="commentForm">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-sm btn-outline-light btn-primary">Submit</button>
    </form>
    

</div>
  
    {% if comments %}
    <div class="card" style="background-color: rgba(225, 225, 225, 0.5); padding: 10px; margin: 10px 0 0 0;" id="comments">
      <h6>Comments:</h6>
      <ul>
        {% for comment in comments reversed %}
        <li>
          {{ comment.author }} - on
          {{ comment.date_added }} <br>
        
        
          <em>{{ comment.body }}</em>
        </li>
        <hr>
        {% endfor %}
      </ul>
    </div>
    {% endif %}

  </div>
</div>
<script src="{% static 'js/consultation.js' %}"></script>
{% endblock content %}